body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3{
    background-color: royalblue;
    height: 40px;
    border-radius: 0.10px;
    padding-left: 50px;
    padding-top: 15px;

}